<fieldset>
    <legend class="text-center header">Areas</legend>
<section class="characteristics" style="line-height: 1;">
    <section class="characteristics__container">
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID Organizacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Edificio</th>
                <th scope="col">Piso</th>
                <th scope="col">QR</th>
                <th scope="col">Riesgo</th>
                <th scope="col">Fecha Rojo</th>
                <th scope="col">Latitud</th>
                <th scope="col">Longitud</th>


            </tr>
            
                <tr>
                    <th scope="row"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>



            
        </table>
    </section>
</section>
</fieldset>