<fieldset>
    <legend class="text-center header">Usuario</legend>
<section class="characteristics" style="line-height: 1;">
    <section class="characteristics__container">
        <table class="table">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Contraseña</th>
                <th scope="col">authFcebook</th>
                <th scope="col">IMEI</th>
                <th scope="col">Riesgo</th>
                <th scope="col">Fecha</th>

            </tr>
            
                <tr>
                    <th scope="row"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>



            
        </table>
    </section>
</section>
</fieldset>