<app-nav-menu></app-nav-menu>




    <div class="">
        
        <div class="col-md-12">
            

    
                    
                    <fieldset style="align-items: center;">
                        <legend class="text-center header">Área</legend>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i> Área</span>
                                <div class="col-md-8 ">
                                    <input id="buscar" name="buscar" #area type="text" placeholder="ID" class="form-control" [formControl]="id">
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg" (click)="clicked()" >Buscar</button>
                                </div>
                            </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center header">Datos</span>
                            
                        </div>
                    <section class="container" style="line-height: 1; margin: 20px;">
                        <section class="container">
                        
                        <table class="table">
                            <tr>
                                <th>
                                    <span class=""> ID</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Id}}</span>
                                </th>
                            </tr>
                            
                            <tr>
                                <th>
                                    <span class=""> ID Organizacion</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Id_Organizacion}}</span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Nombre</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Nombre}}</span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Descripcion</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Descripcion}}</span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Edificio</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Edificio}}</span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Piso</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Piso}}</span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Riesgo</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Riesgo}}</span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Fecha</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Fecha_Rojo}}</span>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <span class=""> Latitud</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Latitud}}</span>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <span class=""> Longitud</span>
                                </th>
                                <th>
                                    <span>{{(areaG |async)?.Longitud}}</span>
                                </th>
                            </tr>

                            <app-qr [idar] = "(areaG |async)?.Id" [idorg]="(areaG |async)?.Id_Organizacion"></app-qr>
                        </table>
                    </section>
                </section>
                    </fieldset>
            
        
        </div>


            