

    <div class="">
        
        <div class="col-md-12">
            

    
                    
                    <fieldset style="align-items: center;">
                        <legend class="text-center header">Área</legend>
                        <form (ngSubmit)="onSubmit(area)">
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i> Área</span>
                                <div class="col-md-8 ">
                                    <input id="buscar" name="buscar" #area type="text" placeholder="ID" class="form-control" ngModel>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg" >Buscar</button>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center header">Datos</span>
                            
                        </div>
                    <section class="container" style="line-height: 1; margin: 20px;">
                        <section class="container">
                        
                        <table class="table">
                            <tr>
                                <th>
                                    <span class=""> ID</span>
                                </th>
                                <th>
                                    <span>HOLA</span>
                                </th>
                            </tr>
                            
                            <tr>
                                <th>
                                    <span class=""> ID Organizacion</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Nombre</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Descripcion</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Edificio</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Piso</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Riesgo</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Fecha</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <span class=""> Latitud</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <span class=""> Longitud</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>
                        </table>
                    </section>
                </section>
                    </fieldset>
            
        
        </div>


            