<app-nav-menu></app-nav-menu>



<div class="container">
<fieldset>
    <legend class="text-center header">Organizacion</legend>
<section class="characteristics" style="line-height: 1;">
    <section class="characteristics__container table-responsive">
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Tipo</th>
                

            </tr>
            
            <tr *ngFor="let org of orgs">
                <td>{{org.Id}}</td>
                <td>{{org.Nombre}}</td>
                <td>{{org.Descripcion}}</td>
                <td>{{org.Tipo}}</td>
                
              </tr>
      



            
        </table>
    </section>
</section>
</fieldset>
</div>