
<div class="row">
<div class="col-md-6 col-md-offset-3">
      <label>Persona</label>
    
      <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" >
        
        <input matInput placeholder="User"  class="form-control"  name="user" ngModel>
      
      <br>
      
       <input matInput placeholder2="Name"  class="form-control"  name="name" ngModel>   
      <br>

        <input matInput placeholder="email" class="form-control"  name="correo" ngModel>
      <br>

        <input matInput placeholder="contraseña" class="form-control"  name="email" ngModel>
      <br>

        <input matInput placeholder="IMEI" class="form-control"  name="email" ngModel>
      
      <br>
      
        <input matInput placeholder="Riesgo" class="form-control"  name="email" ngModel>
      <br>

        <input matInput placeholder="fecha" class="form-control"  name="email" ngModel>
      <br>

      <button id="submit" mat-raised-button type="submit" color="primary" >Submit</button>
   
      </form>
  
</div>
</div>
  <!--<strong>{{f.value.firstname}} </strong>
  <br>
  <strong>{{f.value.lastname}} </strong>
  <br>
  <strong>{{f.value.email}} </strong>
  <br>
  <strong>{{f.value.message}} </strong>-->