
  

    <div class="">
        
        <div class="col-md-12">
            

    
                    
                    <fieldset style="align-items: center;">
                        <legend class="text-center header">Usuario</legend>
                        <form (ngSubmit)="onSubmit(usuario)">
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i> Usuario</span>
                                <div class="col-md-8 ">
                                    <input id="buscar" name="buscar" #usuario type="text" placeholder="Nombre de usuario" class="form-control" ngModel>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg" >Buscar</button>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center header">Datos</span>
                            
                        </div>
                    <section class="container" style="line-height: 1; margin: 20px;">
                        <section class="container">
                        
                        <table class="table">
                            <tr>
                                <th>
                                    <span class=""> Usuario</span>
                                </th>
                                <th>
                                    <span>HOLA</span>
                                </th>
                            </tr>
                            
                            <tr>
                                <th>
                                    <span class=""> Nombre</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Correo</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Contraseña</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Auth Facebook</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> IMEI</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Riesgo</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <span class=""> Fecha</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                            </tr>
                        </table>
                    </section>
                </section>
                    </fieldset>
            
        
        </div>


            
<section class="characteristics" style="line-height: 1; margin: 50px;">
    <section class="characteristics__container">
        <h2>Visita</h2>
        <table class="table">
            
            <tr>
                <th scope="col">User</th>
                <th scope="col">Nombre</th>
                <th scope="col">Area</th>
                <th scope="col">llegada</th>
                <th scope="col">Salida</th>
                

            </tr>
            
                <tr>
                    <th scope="row"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    

                </tr>



            
        </table>
        </section>
    </section>
    </div>
    


